{% extends("base.html.twig") %}

{% block body %}
    <div style=" text-align: center;">
    <h1>Welcome to Health Center</h1>
    
        <a href="{{ path("booking.show") }}">My Bookings</></br>
        <a href="{{ path("programme.index") }}">Programmes</>
    </div>
{% endblock %} 