.login{
    margin: 10px auto;
    width: 300px;
}

.register{
    margin: 10px auto;
    width: 300px;
}

.registerForm{
    width: 300px;
}

.displayProgrammeData{
    font-size: 14px;
}

.myBookings{
    margin: 10px 40px;
}